<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HydroSmart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo-01.png') }}" alt="Logo">
        </div>

        <div class="nav-links">
            <a href="">Home</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>


        
    </nav>

    <div class="main">
        <div class="left-section">
            <h4>HydroSmart</h4>
            <h1>Diagnose <br> Your <span>Plants</span> Smarter</h1>
            <p>
                Sistem pakar cerdas untuk menganalisis penyakit pakcoy hidroponik.
                Didukung metode Forward Chaining untuk hasil diagnosis yang tepat dan cepat.
            </p>
            <div class="buttons">
                <form action="{{ url_for('halaman_diagnosa') }}">
                    <button type="submit" class="btn-green">Start Diagnosis</button>
                </form>
                <button class="btn-video"><i class="fa-solid fa-play"></i> Learn More</button>
            </div>
        </div>

        <div class="right-section"></div>
    </div>

    <section class="features">
        <h2>Kenapa Memilih <span>HydroSmart?</span></h2>
        <div class="feature-container">
            <div class="feature-box">
                <i class="fa-solid fa-microscope"></i>
                <h3>Automated Diagnosis</h3>
                <p>Proses identifikasi penyakit tanaman hidroponik secara otomatis berdasarkan gejala.</p>
            </div>
            <div class="feature-box">
                <i class="fa-solid fa-brain"></i>
                <h3>Forward Chaining Expert System</h3>
                <p>Rekomendasi penanganan optimal menggunakan mesin inferensi rule-based.</p>
            </div>
            <div class="feature-box">
                <i class="fa-solid fa-seedling"></i>
                <h3>Insight Tanaman</h3>
                <p>Pantau kondisi kesehatan tanaman untuk pencegahan penyakit secara dini.</p>
            </div>
            <div class="feature-box">
                <i class="fa-solid fa-globe"></i>
                <h3>Akses Fleksibel</h3>
                <p>Dapat diakses kapan saja dan di mana saja melalui perangkat berbasis web.</p>
            </div>
        </div>
    </section>

    <section class="pengertian">
        <div class="box">
            <h2>About System</h2>
            <p>HydroSmart adalah sistem pakar berbasis web yang membantu petani hidroponik mengenali masalah pada
                tanaman. Dengan metode Forward Chaining, sistem ini menganalisis gejala yang terlihat dan memberikan
                kemungkinan diagnosis beserta saran penanganan secara cepat dan mudah dipahami.</p>
        </div>

    </section>

    <section class="how-it-works">
        <div class="content-container">

            <div class="steps-image">
                <img src="{{ url_for('static', filename='img/gamabr2.png') }}" alt="Ilustrasi Petani dengan Sistem" />
            </div>

            <div class="simple-steps">
                <h2>Cara Kerja Sistem</h2>
                <ol>
                    <li>
                        <strong>Input Gejala:</strong>
                        Pengguna mencentang gejala yang muncul pada tanaman hidroponik.
                    </li>
                    <li>
                        <strong>Forward Chaining:</strong>
                        Sistem menelusuri aturan berdasarkan gejala yang dipilih.
                    </li>
                    <li>
                        <strong>Diagnosis Penyakit:</strong>
                        Sistem menampilkan nama penyakit yang terdeteksi.
                    </li>
                    <li>
                        <strong>Rekomendasi Solusi:</strong>
                        Sistem memberi saran penanganan penyakit kepada pengguna.
                    </li>
                </ol>
            </div>


        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 HydroSmart, Inc</p>
    </footer>
</body>

</html>